form input {
	color: blue;
	}

div input {
	color: green;
	}

@keyframes animar {
	from {
		background-color: yellow;
		width: 50px;
		}
	to {
		background-color: cyan;
		width: 400px;
		}
	}

input[type="submit"] {
	animation-name: animar;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	}
